# Install as many of these as possible using a native installer
# for the distribution, and the rest using pip in a virtual
# environment. 

1. feedparser
2. numpy
3. scipy
4. scikit-learn
5. python-dateutil
6. flask
7. flask_limiter
8. tornado
